* {
  text-align: left;
  margin: 10px;
}

.app-title {
  font-size: 2.5rem;
  float: left;
}

.navbar {
  padding: 20px;
  display: flex;
}

.navbar li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.title {
  background-color: #46BCD4;
  padding: 0.5rem;
  color: #ffffff;
  width: 100%;
  left: 0;
}

.footer {
  background-color: #46BCD4;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  padding: 0.3rem;
}

